ul {
	list-style: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
}
#pintu_area {
	margin-top: -10px;
	margin-left: -10px;
	width:696px;
	height:926px;
	border:1px solid #636;
}
#pintu_area li {
	float: left;
	width:230px;
	height:230px;
	background: url(../img/pinTu.gif) no-repeat;
	background-size: 690px 690px;
	border:1px solid #636;
}
#btn_play {
	width:150px;
	height:150px;
	margin:40px 40px;
}
#footer li {
	font-size: 25pt;
	color:#636;
	border:1px solid #FFF;
	border-top:1px solid #636;
	line-height: 230px;
	background: url();
}